:root {
    --title-color: rgb(94, 94, 208)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--title-color);
    padding: 0rem 2rem;
    font-size: 4rem;
    border-bottom: 4px solid var(--title-color);
    margin-bottom: 1rem;
    color: white;
    font-style: italic;
}

.header p {
    font-size: 1.5rem;
}